<div class="container">
  <div class="jumbotron">
    <h1>Bookstore Anemoi</h1>
    <h2>The best bookstore in the world</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading text-center">Featured</div>
        <div ng-include="'/main/partials/featured-books'" class="panel-body"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading text-center">New</div>
      <div ng-include="'/main/partials/new-books'" class="panel-body"></div>
    </div>
  </div>
</div>