//userId: {type: Schema.Types.ObjectId, ref: 'User'},
//    userName: String,
//    products: [{type: Schema.Types.ObjectId, ref: 'Product'}],
//    date: Date,
//    shippingAddress: String,
//    paymentMethod: String

.container
    .well
        table.table.table-striped.table-hover
            thead
                tr
                    th
                        |Order number
                    th
                        |User
                    th
                        |Date
            tbody
                tr
                    td
                        = order._id
                    td
                        = order.userName
                    td
                        = order.Date