extends layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") Bookstore
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                    li
                        a(href="#/categories") Categories
                    li
                        a(href="#/books") Latest books
                    li
                        a(href="#/search") Search
                div(ng-include="'partials/account/login'")
    section
        div(ng-view)
    div#chatbox.panel.panel-primary(ng-include="'partials/chat/chat'", ng-controller="ChatController")
    footer.text-center(ng-cloak)
        a(href="https://github.com/NodeJS-Team-Anemoi/TeamworkProject", target="_blank")
            | &copy; Team Anemoi - 2014