doctype html
html
  head
    title Bookstore
    link(rel='stylesheet', href='../public/css/bootstrap.css')
    link(rel='stylesheet', href='../public/css/style.css'')
  body(ng-app="Bookstore")
    block main-content
    include scripts
    include currentUser
