script(type="text/javascript" src="/bower_components/jquery/dist/jquery.js")
script(type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/bower_components/toastr/toastr.js")
script(type="text/javascript" src="/bower_components/angular/angular.js")
script(type="text/javascript" src="/bower_components/angular-resource/angular-resource.js")
script(type="text/javascript" src="/bower_components/angular-route/angular-route.js")
script(type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js")
script(type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.js")
script(type="text/javascript" src="/libs/socket.io.js")

script(type="text/javascript" src="/app/app.js")

// Modules scripts (controllers, services, filters, etc.):

// Main module scripts
script(type="text/javascript" src="/app/main/controllers/MainController.js")

// Authentication module scripts (controllers, services, filters, etc.)
script(type="text/javascript" src="/app/account/controllers/LoginController.js")
script(type="text/javascript" src="/app/account/controllers/ProfileController.js")
script(type="text/javascript" src="/app/account/controllers/RegisterController.js")
script(type="text/javascript" src="/app/account/services/usersResource.js")
script(type="text/javascript" src="/app/account/services/identity.js")
script(type="text/javascript" src="/app/account/services/auth.js")

// Admin module scripts
script(type="text/javascript" src="/app/admin/controllers/AddBookController.js")

// Common modules scripts
script(type="text/javascript" src="/app/common/services/bookResource.js")

// Chat module
script(type="text/javascript" src="/app/chat/controllers/ChatController.js")


// Socket.io initialization
script.
    console.log('Socket.io initialized!');
    var socket = io();