script(type="text/javascript" src="/bower_components/jquery/dist/jquery.js")
script(type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/bower_components/toastr/toastr.js")
script(type="text/javascript" src="/bower_components/angular/angular.js")
script(type="text/javascript" src="/bower_components/angular-resource/angular-resource.js")
script(type="text/javascript" src="/bower_components/angular-route/angular-route.js")
script(type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js")
script(type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.js")
script(type="text/javascript" src="/libs/socket.io.js")

script(type="text/javascript" src="/app/app.js")

// Modules scripts (controllers, services, filters, etc.):

// Main module scripts
script(type="text/javascript" src="/app/main/controllers/MainController.js")

// Authentication module scripts (controllers, services, filters, etc.)
script(type="text/javascript" src="/app/account/controllers/LoginController.js")
script(type="text/javascript" src="/app/account/controllers/ProfileController.js")
script(type="text/javascript" src="/app/account/controllers/RegisterController.js")
script(type="text/javascript" src="/app/account/services/usersResource.js")
script(type="text/javascript" src="/app/account/services/identity.js")
script(type="text/javascript" src="/app/account/services/auth.js")

// Admin module scripts
script(type="text/javascript" src="/app/admin/controllers/AddBookController.js")
script(type="text/javascript" src="/app/admin/controllers/UsersController.js")
script(type="text/javascript" src="/app/admin/controllers/EditUserController.js")
script(type="text/javascript" src="/app/admin/controllers/DeleteUserController.js")
script(type="text/javascript" src="/app/admin/controllers/OrdersManagementController.js")
script(type="text/javascript" src="/app/admin/controllers/EditOrderController.js")
script(type="text/javascript" src="/app/admin/controllers/DeleteOrderController.js")
script(type="text/javascript" src="/app/admin/controllers/OrderDetailsController.js")
script(type="text/javascript" src="/app/admin/controllers/AddUserController.js")
script(type="text/javascript" src="/app/admin/services/userResource.js")

// Common modules scripts
script(type="text/javascript" src="/app/common/controllers/BooksController.js")
script(type="text/javascript" src="/app/common/services/bookResource.js")
script(type="text/javascript" src="/app/common/partials/book-big.js")
script(type="text/javascript" src="/app/common/partials/book-small.js")

// Order modules scripts
script(type="text/javascript" src="/app/orders/controllers/ordersController.js")
script(type="text/javascript" src="/app/orders/services/ordersResource.js")

// Catalog module scripts
script(type="text/javascript" src="/app/catalog/controllers/CatalogController.js")
script(type="text/javascript" src="/app/catalog/partials/catalog.js")

// Chat module
script(type="text/javascript" src="/app/chat/controllers/ChatController.js")
script(type="text/javascript" src="/app/chat/services/socket.js")
script(type="text/javascript" src="/app/chat/partials/chatbox.js")

// Socket.io initialization
script.
    var socket = io();
