body {
    padding-top: 70px;
}

#chatbox {
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 400px;
    height: 350px;
    margin-bottom: 0px !important;
    background-color: #E0E0E0;
}

#chatbox-mini {
    position: fixed;
    bottom: 0;
    right: 50px;
}

#chatbox .panel-body {
    padding-bottom: 30px;
    overflow-y: auto;
    height: 250px;
}

#message {
    position: absolute;
    bottom: 0;
}

#message input {
    width: 310px;
    margin-right: 5px;
}

.send-btn {
    margin: 0 5px 5px 0 !important;
}

.collapse-btn {
    position: absolute;
    top: 10px;
    right: 15px;
}

.book-small-img {
    margin-right: 10px;
}

.clear {
    clear: both;
}

.home-panel {
    overflow-y: auto;
    height: 350px;
}
