.container
    .jumbotron.text-center
        img(ng-src="images/logo.png")
        h1 Bookstore Anemoi
        h2 The best bookstore in the world
        h3 Bookstore Anemoi Bookstore was started by five software engineers Vesko, Elena, Lado, Stefan V. and Stefan M., who have since been joined by Node JS. They all share an enthusiasm for books and coding! From the outset, we have collected some of the most amazing books and eccentric code that we could find and we constantly increase the treasures that you can find here in the shop.. It’s also been our intention to create a comfortable shop with a unique atmosphere and to reflect eclectic tastes.  Most people reckon we have achieved this and keep noticing small playful and quirky details each time they visit….but we are very serious about offering the highest standards of service to our customers.  You can rely on us to always be there – we are open 365 days a year, from 10 in the morning until 10 at night. You can totally rely on us to be there when you most need us- on Easter, Christmas day or late in the evening, on the way to a party so you don’t have to arrive empty-handed!