
<div ng-controller="ChatController">
  <div id="chatbox" ng-show="expanded" class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-title">Chat</div>
      <button ng-click="expanded=false" class="btn btn-default btn-xs pull-right collapse-btn">-</button>
      <div class="clear"></div>
    </div>
    <div class="panel-body">
      <form id="message" method="POST" action="">
        <input type="text" ng-model="message" id="messageInput"/>
        <button ng-click="sendMessage(message)" class="btn btn-danger send-btn">Send</button>
      </form>
      <div class="messages">
        <div ng-repeat="message in messages" class="well"><strong>{{message.sender}}:</strong><span>{{message.content}}</span></div><a id="bottom"></a>
      </div>
    </div>
  </div>
  <button id="chatbox-mini" ng-hide="expanded" ng-click="expanded=true" class="btn btn-default btn-lg">Chat</button>
</div>