.container
    .well
        .row
            .col-lg-3
                a.btn.btn-primary(href="#/admin/add-book") Add book
            .col-lg-3
                a.btn.btn-primary(href="#/admin/add-user") Add user
            .col-lg-3
                a.btn.btn-primary(href="#/admin/orders") All orders
            .col-lg-3
                a.btn.btn-primary(href="#/admin/users") All users