.container
    .well4
        //.row
            .col-md-3
                span User:
                strong {{currentOrder.userName}}
            .col-md-3
                span Date:
                strong {{currentOrder.date | date : 'medium'}}
            .col-md-3
                span Shipping Address:
                strong {{currentOrder.shippingAddress}}
            .col-md-3
                span Payment method:
                strong {{currentOrder.paymentMethod}} //
        table.table.table-striped.table-hover
            thead
                tr
                    th #
                    th Title
                    th Price
                    th ISBN
                    th Language
            tbody
                tr(ng-repeat="book in currentOrder.products")
                    td {{$index + 1}}
                    td {{book.title}}
                    td {{book.price}}
                    td {{book.isbn}}
                    td {{book.language}}
                    td
                        button.btn.btn-danger.btn-sm(ng-click="deleteFromCurrentOrder(book)") X

    button.btn.btn-success.pull-right(ng-click="showOrderDetails=true", ng-hide="showOrderDetails") Continue
    .clear
    div.jumbotron(ng-show="showOrderDetails")
        h3 Order details
        label(for="paymentMethod")
            | Payment method
        br
        input#paymentMethod(name="paymentMethod", ng-model="order.paymentMethod")
        br
        label(for="shippingAddress")
            | Shipping address
        br
        input#paymentMethod(name="shippingAddress", ng-model="order.shippingAddress")
        br
        button.btn.btn-success.pull-right(ng-click="checkOut(order)")
            | Check out
