.col-md-6
    .panel.panel-primary
        .panel-heading.text-center The books you have chosen
        .panel-body.list-group(ng-controller="ShoppingCartController")
            book-small(ng-repeat="product in cart.products | orderBy: 'date'")