.container
    h1#warning.text-center Not Authorized
    img(ng-src="images/unauthorized.jpg").center-block
    p.text-center Access not authorized. Please contact your application administrator.
